* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("./resources/images/pexels-pixabay-235985.jpg");
}

header, h2 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 5px;
}

th {
    border-bottom: 1px solid black;
}

td {
    border: 1px dashed darkblue;
}

.attribute, .decodingValues {
    background-color: aliceblue;
}

.name {
    background-color:antiquewhite;
}

.description {
    background-color: rgba(121, 189, 101, 0.459);
}

footer {
    background-color: cornsilk;
    width: fit-content;
}